<div fxFlex="100">
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Battle ship</span>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goTablero()">Tablero del juego</button>
        <button mat-menu-item (click)="goConfiguracion()">Configuración del juego</button>
        <button mat-menu-item (click)="goJuegos()">Lista de juegos terminados</button>
    </mat-menu>
</div>
