<h3 class="center">Seleccionar nivel</h3>
<mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let item of levelarray" (click)="selectLevel(item)">
        {{item.name}}
    </mat-list-option>
</mat-selection-list>
<h3 class="center">Personalizar</h3>
<mat-list role="list">
    <mat-list-item role="listitem">
        <mat-form-field class="example-full-width" appearance="fill" fxFlex="100">
            <mat-label>Turnos</mat-label>
            <input matInput type="number" placeholder="Ej: 25" [(ngModel)]="turnosPersonalizados" autocomplete="off">
        </mat-form-field>
    </mat-list-item>
</mat-list>
<div class="containerBtn center">
    <button mat-raised-button color="primary" (click)="continuar()">Continuar</button>
</div>