.mapa{
    padding: 30px;
    
}

.containerDatos{
    margin: 40px 0;
    padding: 10px;
}
.bloque2{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}