<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
    <div fxFlex="100" fxLayout="row">
        <h2 fxFlex="100" class="center white-text">{{level.name!="" ? level.name:"Battleship"}} <br><small *ngIf="playing">{{this.turnosJugados}} / {{level.turnos ? level.turnos:"Infinitos"}} Turnos</small></h2>
    </div>
    <div fxFlex="90" fxLayout="row">
        <div fxFlex="40" class="containerDatos bgwhite">
            <p>Barcos hundidos: {{barcosDestruidos}}</p>
        </div>
    </div>
    <div class="mapa bgwhite" fxLayoutAlign="center center" fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="90" fxLayout="row">
        <div class="columna">
            <div class="center bloque2"></div>
            <div class="center bloque2" *ngFor="let item of matriz; let i = index">{{letra(i)}}</div>
        </div>
        <div class="columna" *ngFor="let item of matriz; let i = index">
            <p class="center">{{i}}</p>
            <app-bloque *ngFor="let item2 of item; let j = index" (click)="hit(i,j)" [dato]="matriz[j][i]"></app-bloque>
        </div>
    </div>
    <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="90" fxLayout="row">
        <div class="containerBtn center" fxFlex="100">
            <button mat-raised-button color="primary" (click)="reset()" *ngIf="!playing">¡Juguemos!</button>
            <button mat-raised-button color="primary" (click)="reset()" *ngIf="playing">¡Empezar de nuevo!</button>
        </div>
    </div>
</div>