<app-header></app-header>
<div fxLayout="column">
    <div fxFlex="100" fxLayout="row">
        <h2 fxFlex="100" class="center white-text">Lista de juegos terminados</h2>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
        <div class="lista bgwhite" fxLayoutAlign="center center" fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="90" fxLayout="row">
            <table class="tabla">
                <tr>
                    <th>Level</th>
                    <th>Turnos Jugados</th>
                    <th>Estado final</th>
                </tr>
                <tr *ngFor="let item of partidas">
                    <td>
                        <b>Nivel:</b> {{item.level.level}}<br>
                        <b>Dificultad:</b> {{item.level.name}}<br>
                        <b>Turnos:</b> {{item.level.turnos ? item.level.turnos:'Infinitos'}}<br>
                    </td>
                    <td>{{item.turnosJugados}}</td>
                    <td>{{item.win ? 'Ganaste':'Perdiste'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>