.bloque{
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.4);
    transition: all 0.1s;
    margin: 10px;
    cursor: pointer;
    &:hover{
        background: rgba($color: blue, $alpha: .2);
    }
    &.exploto{
        background: rgba($color: blue, $alpha: .6);
        &:hover{
            background: rgba($color: blue, $alpha: .7);
        }
    }
    &.fallo{
        background: rgba($color: red, $alpha: .4);
        &:hover{
            background: rgba($color: red, $alpha: .6);
        }
    }
    &.barcodestruido{
        background: rgba($color: green, $alpha: .6);
        &:hover{
            background: rgba($color: green, $alpha: .7);
        }
    }
}