<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="login">
    <div class="createNick bgwhite" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="60" fxFlex.sm="90" fxFlex.xs="90" fxLayout="column">
        <h3 class="center">Create profile</h3>
        <mat-form-field class="example-full-width" appearance="fill" fxFlex="100">
            <mat-label>NICK</mat-label>
            <input matInput placeholder="Ej: McVannin" [(ngModel)]="user.nick" (keyup)="validarEnter($event)">
        </mat-form-field>
        <div class="containerBtn center">
            <button mat-raised-button color="primary" (click)="continuar()">Continuar</button>
        </div>
    </div>
</div>