/* You can add global styles to this file, and also import other style files */

app-nick{
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center{
    text-align: center;
}
body{
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bgwhite{
    background: rgba(255,255,255,0.8)
}
.white-text{
    color: #fff;
}
table{
    width: 100%;
}
td{
    border: 1px solid #333;
    padding: 10px 20px;
}